{% extends "base.html" %}
{% block title %}All games{% endblock title %}
{% block content %}
<div class="container p-3 my-3">
  <h1>Here is a list of all games available for purchase</h1>
  <ul class="list-group">
  {% for g in games %}
    <li style=" list-style: none">
      <a href="{{g.get_description_url}}" class="list-group-item list-group-item-action">{{g.name}}</a>
    </li>
  {% empty %}
  <div class="alert alert-danger">
    We are sorry. There aren't games in the website yet :(
  </div>
  {% endfor %}
  </ul>
</div>
{% endblock content %}
