<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block metadata %}{% endblock metadata %}
    

    <meta property="og:site_name" content="Webshop (Djano)">
    <meta name="twitter:image:alt" content="This could be shown">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>

    <meta charset="UTF-8">
    <title>{% block title %}Home page{% endblock title %} </title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mr-auto p-2" href="/">Webshop</a>
      <div class="collapse navbar-collapse" id="navbarToggler">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/allgames/">Catalogue</a></li>
          <li class="nav-item"><a class="nav-link" href="/categories/">Categories</a></li>
          {% if user.is_authenticated and user.profile.is_developer %}
          <li class="nav-item"><a class="nav-link" href="/addgame/">Add game</a></li>
          {% endif %}
        </ul>
        <form method='GET' action="/search" class="form-inline my-2 my-lg-0">
          <i class="fa fa-search p-2" aria-hidden="true"></i>
          <input class="form-control" type="text" name="q" placeholder="Search" aria-label="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="/signup/"><i class="fa fa-user"></i> Sign Up</a></li>
          <li class="nav-item"><a class="nav-link" href="/login/"><i class="fa fa-sign-in"></i> Log In</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/mygames/"><i class="fa fa-user"></i> {{ user.username }}</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout/"><i class="fa fa-sign-out"></i> Log Out</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <script>
      $(document).ready(function() {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
      });
    </script>
    {% block content %}{% endblock content %}
  </body>
</html>
