{% extends "base.html" %}
{% block title %}My games{% endblock title %}
{% block content %}
<div class="container p-3 my-3">
  <h1>Player info</h1>
  <div class="list-group">
    <li class="list-group-item">Username: <strong>{{user.username}}</strong></li>
    {% if user.profile.first_name %}
    <li class="list-group-item">First name: <strong>{{user.profile.first_name}}</strong></li>
    <li class="list-group-item">Last name: <strong>{{user.profile.last_name}}</strong></li>
    <li class="list-group-item">E-mail: <strong>{{user.profile.email}}</strong></li>
    {% endif %}
  </div>
  <h1>Purchased games</h1>
  <ul class="list-group">
  {% for g in games %}
    <li style=" list-style: none">
      <a href="{{g.get_description_url}}" class="list-group-item list-group-item-action">{{g.name}}</a>
    </li>
  {% empty %}
    <li style=" list-style: none">
      <div class="alert alert-danger" role="alert">
        Sorry, you don't own any games yet. You can purchase some <a href="/allgames" class="alert-link">here</a>.
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock content %}
