{% extends "base.html" %}
{% block title %}Search results{% endblock title %}
{% block content %}
<div class="container p-3 my-3">
    {% if query %}
      {% if results %}
        <h2>Here is what we found:</h2>
        {% for g in results %}
          <a href="{{g.get_description_url}}" class="list-group-item list-group-item-action">{{g.name}}</a>
        {% endfor %}
      {% else %}
          <p>Query returned no results:(</p>
      {% endif %}
    {% else %}
      <h2>You have to give us something so that we can help you!</h2><br><p>Try search again with some input:)</h2>
    {% endif %} 
  </ul>
</div>
{% endblock content %}
