<!-- Write your answer in 7.3 here -->
<table id="countryTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capital</th>
      <th>Population</th>
      <th>Area</th>
    </tr>
  </thead>
  <tbody>
    <!-- TODO add info about all countries of the continent passed to the template -->
    {% for c in countries %}
      <tr>
        <td>{{c.name}}</td>
        <td>{{c.capital}}</td>
        <td>{{c.population}}</td>
        <td>{{c.area}} km2</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
